# Node modules
node_modules/

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env

# OS / Editor files
.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp

# Optional: compiled output
dist/
build/
